*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #6daedb;
}
.heading-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 50px;
}
h1{
    color: #1b4353;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}

.main-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 50px;
}
#from, #to{
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

#from{
    margin-right: 10px;
}

#to{
    margin-right: 10px;
    margin-left: 20px;
}

#drop-down-1, #drop-down-2{
    outline: none;
    border: 1px transparent;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    justify-self: center;
    padding: 5px;
    /* align-items: center; */
    /* margin: 20px 20px; */
    /* justify-content: space-around; */
}

.btn-container{
    /* background-color: aliceblue; */
    color: black;
    font-family: 'Montserrat', sans-serif;
    justify-self: center;
    margin: 20px 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
#btn{
    padding: 10px 15px;
    background-color: #173753;
    color: whitesmoke;
    border: 1px transparent;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
}
#btn:hover{
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    cursor: pointer;
}
#btn:disabled{
    box-shadow: none;
    cursor: default;
    background-color: #354350;
    color: rgb(156, 156, 156);
    transition: all 0.3s;
}
#btn:enabled{
    transition: all 0.3s;
}
#btn:focus{
    outline: none;
}
#result{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    color: #173753;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-top: 50px;
}

