*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #6daedb;
}
.heading-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
}
h1{
    color: #10283d;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}

.main-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 20px;
}
.to-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 20px;
}
.amount-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 50px;
}
#from, #to{
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    width: 80px;
    text-align: left;
}

#drop-down-1, #drop-down-2{
    outline: none;
    border: 1px transparent;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    justify-self: center;
    padding: 5px;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
}
.number-input{
    width: 220px;
    margin: 0px 10px 0px 0px;
    background-color: #1f517c;
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    outline: none;
    border: 1px transparent;
    border-radius: 5px;
    padding: 10px 10px;
    box-shadow: 8px 8px 20px 0 rgba(0, 0, 0, 0.2);
}
.number-input::placeholder{
    color: rgb(207, 212, 218);
    font-family: 'Montserrat', sans-serif;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.btn-container{
    color: black;
    font-family: 'Montserrat', sans-serif;
    justify-self: center;
    margin: 20px 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
#btn{
    padding: 15px 15px;
    background-color: #173753;
    color: whitesmoke;
    border: 1px transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    border-radius: 5px;
    width: 240px;
}
#btn:hover{
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    cursor: pointer;
}
#btn:disabled{
    box-shadow: none;
    cursor: default;
    background-color: #354350;
    color: rgb(156, 156, 156);
    transition: all 0.3s;
}
#btn:enabled{
    transition: all 0.3s;
}
#btn:focus{
    outline: none;
}
#result{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    color: #173753;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-top: 50px;
}

